@tailwind base;
@tailwind components;
@tailwind utilities;

/* Сбрасываем фон самого браузера, чтобы увидеть системное размытие */
html,
body,
#root {
    background: transparent !important;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Красивый скроллбар для чата */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}